@import "syntax";

/**
 * Layout
 */
body {
	padding-top: 80px;
	padding-bottom: 80px;
	font-size: 17px;
}
.container {
	max-width: 960px;
}

/**
 * Navbar
 */
.navbar-brand {
	font-family: 'Allura',cursive;
	font-size: 32px;
}
@media (min-width: 769px) {
	.navbar-right {
		> li > a {
			padding-bottom: 0;
		}
		.fa {
			font-size: 2em;
			line-height: .66em;
		}
	}
}

/**
 * Content
 */
.jumbotron,
.jumbotron h1 {
	font-family: 'Allura',cursive;
}
.jumbotron p {
	font-size: 28px;
}