---
title: Comparison with other cooks!
---

<div class="jumbotron">
	<h1>Comparison with other cooks!</h1>
	<p>Why is Filicious the best cook in the kitchen?</p>
</div>

{% assign cols = site.data.comparison.systems | size %}

<table class="table table-bordered table-fixed">
	<thead>
	<tr>
		{% for system in site.data.comparison.systems %}
		<th><a href="{{ system[1].url }}">{{ system[1].title }}</a></th>
		{% endfor %}
	</tr>
	</thead>

	<tbody>
	<tr class="info">
		<th colspan="{{ cols }}" class="text-center">Abstraction level</th>
	</tr>
	<tr class="active">
		{% for system in site.data.comparison.systems %}
		{% assign key = system[0] %}
		{% assign abstraction = site.data.comparison.abstraction[key] %}
		{% capture description %}{{ abstraction.description }}{% endcapture %}

		{% if abstraction.support == "full" %}
			{% assign class = "success" %}
			{% capture icon %}<i class="fa fa-check-circle-o"></i> full support{% endcapture %}
		{% elsif abstraction.support == "partial" %}
			{% assign class = "warning" %}
			{% capture icon %}<i class="fa fa-dot-circle-o"></i> partial support{% endcapture %}
		{% elsif abstraction.support == "none" %}
			{% assign class = "danger" %}
			{% capture icon %}<i class="fa fa-times-circle-o"></i> no support{% endcapture %}
		{% else %}
			{% assign class = "active" %}
			{% capture icon %}<i class="fa fa-circle-o"></i> unknown{% endcapture %}
		{% endif %}

		<td class="{{ class }}">
			<strong>{{ icon }}</strong><br>
			{{ description | markdownify }}
		</td>
		{% endfor %}
	</tr>
	</tbody>

	<tbody>
	<tr class="info">
		<th colspan="{{ cols }}" class="text-center">Stream wrapper support
			&nbsp; <a href="http://php.net/manual/en/wrappers.php"><i class="fa fa-external-link"></i></a></th>
	</tr>
	<tr class="active">
		{% for system in site.data.comparison.systems %}
		{% assign key = system[0] %}
		{% assign streaming = site.data.comparison.streaming[key] %}
		{% capture description %}{{ streaming.description }}{% endcapture %}

		{% if streaming.support == "full" %}
			{% assign class = "success" %}
			{% capture icon %}<i class="fa fa-check-circle-o"></i> full support{% endcapture %}
		{% elsif streaming.support == "partial" %}
			{% assign class = "warning" %}
			{% capture icon %}<i class="fa fa-dot-circle-o"></i> partial support{% endcapture %}
		{% elsif streaming.support == "none" %}
			{% assign class = "danger" %}
			{% capture icon %}<i class="fa fa-times-circle-o"></i> no support{% endcapture %}
		{% else %}
			{% assign class = "active" %}
			{% capture icon %}<i class="fa fa-circle-o"></i> unknown{% endcapture %}
		{% endif %}

		<td class="{{ class }}">
			<strong>{{ icon }}</strong><br>
			{{ description | markdownify }}
		</td>
		{% endfor %}
	</tr>
	</tbody>

	<tbody>
	<tr class="info">
		<th colspan="{{ cols }}" class="text-center">Supported filesystems</th>
	</tr>
	{% for filesystem in site.data.comparison.filesystems %}
	<tr class="active">
		<th colspan="{{ cols }}" class="text-center">
			{% capture url %}{{ filesystem.url }}{% endcapture %}
			{% capture icon %}{{ filesystem.icon }}{% endcapture %}

			{% if icon != "" %}<i class="fa fa-{{ icon }}"></i>{% endif %}
			{{ filesystem.title }}{% if url | strip != "" %}
			&nbsp; <a href="{{ url }}"><i class="fa fa-external-link"></i></a>{% endif %}
		</th>
	</tr>
	<tr>
		{% for system in site.data.comparison.systems %}
		{% assign key = system[0] %}
		{% assign capability = filesystem.systems[key] %}
		{% capture description %}{{ capability.description }}{% endcapture %}

		{% if capability.support == "full" %}
			{% assign class = "success" %}
			{% capture icon %}<i class="fa fa-check-circle-o"></i> full support{% endcapture %}
		{% elsif capability.support == "partial" %}
			{% assign class = "warning" %}
			{% capture icon %}<i class="fa fa-dot-circle-o"></i> partial support{% endcapture %}
		{% elsif capability.support == "none" %}
			{% assign class = "danger" %}
			{% capture icon %}<i class="fa fa-times-circle-o"></i> no support{% endcapture %}
		{% else %}
			{% assign class = "active" %}
			{% capture icon %}<i class="fa fa-circle-o"></i> unknown{% endcapture %}
		{% endif %}

		<td class="{{ class }}">
			<strong>{{ icon }}</strong><br>
			{{ description | markdownify }}
		</td>
		{% endfor %}
	</tr>
	{% endfor %}
	</tbody>
</table>